/* Stylesheet by Yunlei Liang, 2019 */
.leaflet-popup-content p {
    margin: 0.2em 0;
}

#map {
    height: 700px;
    width:80%;
    display: inline-block;
}


.legend {
    line-height: 22px;
    color: #555;
}
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.title-container {
    width: 400px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    line-height: 45px;
    text-align: center;
	font: 24px/28px Arial, Helvetica, sans-serif;
	font-weight: 600;

}

